* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    /* max-width: 1200px; */
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

/* HEADER */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #e70d1b;
}
header img {
    height: 75%;
    cursor: pointer;
}

/* TODO: (edit) Change Language */
.language-choice {
    text-align: right;
    padding: 10px 25px;
    color: #e70d1b;
    font-weight: bold;
}
.choose-language {
    filter: grayscale(1);
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}
.choose-language:hover {
    filter: grayscale(0);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}


/* MAIN */
.row{
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content-box {
    width: 185px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 20px;
    overflow-y: auto;
    cursor: pointer;
}
.content-box:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.content-box h3, .content-box p{
    padding: 10px;
}
.content-box p small{
    color: #e70d1b;
}





/* Input */
input {
    background-color: transparent;
    color: #fff;
    outline: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #e70d1b;
}
input:hover,
select:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
}

/* Default Icons */
i {
    padding: 10px;
    cursor: pointer;
}
i:hover{
    color: #e70d1b;
}

.break {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}