* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

/* HEADER */
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #e70d1b;
}
header img {
    height: 75%;
    cursor: pointer;
}
header i {
    padding: 10px;
}

/* Change Language */
.language-choice {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    text-align: right;
    padding: 0 25px;
}
.choose-language {
    height: 18px;
    filter: grayscale(1);
    margin: 12px;
    cursor: pointer;
    border-radius: 50%;
}
.choose-language:hover,
.choose-language.active {
    filter: grayscale(0);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}


/* MAIN */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}
.content-box {
    width: 342px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 40px 10px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
    position: relative;
}
.content-box:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    border: 1px solid #e70d1b;
}
.content-box:hover > .cover {
    opacity: 0.5;
    height: 100%;
}
.content-box h3,
.content-box h6,
.content-box p{
    text-align: left;
    padding: 10px;
}
.content-box p small{
    color: grey;
}
.content-box p img{
    vertical-align: middle;
    width: 16px;
}



/* Input */
input {
    background-color: transparent;
    color: #fff;
    outline: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #e70d1b;
}
input:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
}

/* Default Icons */
i {
    cursor: pointer;
}
i:hover{
    color: #e70d1b;
}
i.active{
    color: #e70d1b;
}
i.empty-stars {
    color: rgba(255, 255, 255, 0.5);
}