<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix | @alexmikhajlovic</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="icon" href="img/logo-xs.webp" sizes="16x16 24x24 32x32 48x48 64x64 128x128">
</head>
<body>

    <!-- ! Start first of all ! -->
    <!-- <img class="start-animation" src="img/logo-animation.gif" style="width: 100%;"> -->

    <div id="app" class="container">

        <!-- HEADER -->
        <header>

            <!-- Logo -->
            <img src="img/logo-lg.png" alt="LOGO">
            
            <!-- Search-Bar -->
            <div class="search-bar">
                <input type="text" v-model="inputQuery" @keyup.enter="search" placeholder="Search">
                <i class="fas fa-search" :class=" (inputQuery != '') ? activeClass : '' " @click="search"></i>
                <i class="fas fa-gift"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-user"></i>
            </div>
    
        </header>

        <!-- Change Language  -->
        <section class="languages">
            
            <small id="selected-language">EN</small>

            <img v-for="lang in languages" :src=" 'img/languages/' + lang + '.svg' " :class=" (lang == language) ? activeClass : '' " class="language" @click="changeLanguage(lang)" :alt="lang">

        </section>

        <!-- MAIN -->
        <main>

            <!-- ! Movies ! -->
            <div class="row">

                <div class="content-box" v-for="searchedMovie in searchedMovies">

                    <!-- Cover -->
                    <img v-if="searchedMovie.poster_path != null" :src="urlCover + searchedMovie.poster_path" class="cover" alt="Cover">
                    <img v-else src="img/image-notfound.png" class="cover" alt="IMAGE NOT FOUND">

                    <!-- Original Title -->
                    <h3>{{searchedMovie.original_title}}</h3>

                    <!-- <h6>{{searchedMovie.title}}</h6> -->
                    <h6 v-if="searchedMovie.original_title != searchedMovie.title">{{searchedMovie.title}}</h6>

                    <!-- Overview -->
                    <p>{{searchedMovie.overview}}</p>

                    <p>
                        <!-- Original Language -->
                        <img v-if="languages.includes(searchedMovie.original_language)" :src=" 'img/languages/' + searchedMovie.original_language + '.svg' " :alt="searchedMovie.original_language">
    
                        <!-- Release Date -->
                        <small><i class="far fa-calendar-alt"></i> {{searchedMovie.release_date}}</small>
                    </p>
                    
                    <!-- Vote (view as stars) -->
                    <p><small>{{searchedMovie.vote_average}}/5</small> <span><i v-for="(i,index) in 5" :class=" (index >= searchedMovie.vote_average) ? 'empty-stars' : '' " class="fas fa-star"></i></span></p>
    
                </div>

            </div>

            <!-- ! TV Series ! -->
            <div class="row">

                <div class="content-box" v-for="searchedTvSerie in searchedTvSeries">

                    <!-- Cover -->
                    <img v-if="searchedTvSerie.poster_path != null" :src="urlCover + searchedTvSerie.poster_path" class="cover" alt="Cover">
                    <img v-else src="img/image-notfound.png" class="cover" alt="IMAGE NOT FOUND">

                    <!-- Original Title -->
                    <h3>{{searchedTvSerie.original_name}}</h3>

                    <!-- <h6>{{movie.title}}</h6> -->
                    <h6 v-if="searchedTvSerie.original_title != searchedTvSerie.title">{{searchedTvSerie.title}}</h6>

                    <!-- Overview -->
                    <p>{{searchedTvSerie.overview}}</p>

                    <p>
                        <!-- Original Language -->
                        <img v-if="languages.includes(searchedTvSerie.original_language)" :src=" 'img/languages/' + searchedTvSerie.original_language + '.svg' " :alt="searchedTvSerie.original_language">

                        <!-- First Release Date -->
                        <small><i class="far fa-calendar-alt"></i> {{searchedTvSerie.first_air_date}}</small>
                    </p>

                    <p>
                        <!-- Popularity -->
                        <small><i class="fas fa-users"></i> {{searchedTvSerie.popularity}}</small>

                        <!-- Vote (view as stars) -->
                        <small>( {{searchedTvSerie.vote_average}}/5 )</small> <span><i v-for="(i,index) in 5" :class="(index >= searchedTvSerie.vote_average) ? 'empty-stars' : ''" class="fas fa-star"></i></span>
                    </p>
    
                </div>

            </div>

        </main>

    </div>

 <script src="js/script.js"></script>  
    
</body>
</html>